@use "../../../styles/abstracts/font" as *;
@use "../../../styles/abstracts/global" as *;
@use "../../../styles/abstracts/mixins" as *;
@use "../../../styles/abstracts/normalize" as *;
@use "../../../styles/abstracts/variables" as *;

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 7rem;

  @include desktop {
    justify-content: space-between;
  }

  & > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2.5rem;

    img {
      height: 7rem;
    }

    span {
      font-family: $font1;
      display: none;

      @include tablet {
        display: block;
      }
    }
  }

  .user {
    margin-right: 1rem;
    i {
      font-size: 3.5rem;
    }
  }

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    & > i {
      font-size: 3rem;
    }
  }

  .sidebar {
    display: none;
  }

  .open {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2.5rem;
    min-height: 3rem;
    width: 100%;
    padding: 2rem;
  }

  aside {
    a {
      text-align: center;
      width: 100%;
      margin: .4rem 0;
      font-size: 2.5rem;
    }

    @include desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}