@use "../../styles/abstracts/mixins" as *;
@use "../../styles/abstracts/variables" as *;

.titre{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../assets/img/biblio.jpg) center/cover no-repeat;
  height: calc(100vh - 7rem);

  article {
    text-align: center;
    margin: 2rem;
    box-shadow: 2px 5px 8px rgba($color: #000000, $alpha: .4);
    border-radius: 15px;
    backdrop-filter: blur(5px);

    h1 {
      font-size: 5rem;
      margin: 1rem;
    }

    a{
      font-size: 5rem;
      color: black;
    }
  }
}