@use "./App.scss";
@use "./components/layout/Header/Header.scss";
@use "./components/layout/Footer/Footer.scss";
@use "./pages/HomePage/HomePage.scss";
@use "./components/layout/ModalAuth/ModalAuth";
@use "./pages/Contact/Contact.scss";