@use "../../../styles/abstracts/font" as *;
@use "../../../styles/abstracts/global" as *;
@use "../../../styles/abstracts/mixins" as *;
@use "../../../styles/abstracts/normalize" as *;
@use "../../../styles/abstracts/variables" as *;

.modal-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal-content {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(1rem);
    width: 100vw;
    padding: 4rem;
    border-radius: 2rem;
    text-align: center;
    color: white;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);

    form {
      display: flex;
      flex-direction: column;
      margin: 0 4rem;

      .logo-connect {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 5rem;
        margin-top: 2rem;

        .fb-connexion,
        .google-connexion {
          width: 5rem;
          height: 5rem;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem;
          }
        }
      }

      h2 {
        text-align: center;
        font-size: 3rem;
      }

      label {
        font-size: 2rem;
      }

      input {
        background: transparent;
        border: 1px solid grey;
        border-radius: 4px;
        margin-bottom: 2rem;
        height: 3rem;
      }

      .submit {
        margin-top: 2rem;
        padding: 1.2rem 3rem;
        font-size: 1.6rem;
        color: white;
        border: none;
        border-radius: 1rem;
        cursor: pointer;

        &:hover, &:focus {
          background: #6D28D9;
        }
      }

      .pratique {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 2rem;

        & > button {
          background: none;
          border: none;
          font-size: 1.6rem;
          @include tablet {
            padding: 1rem;
          }
        }
      }

      .pratique-register {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        & > button {
          background: none;
          border: none;
          font-size: 1.6rem;
          @include tablet {
            padding: 1rem;
          }
        }
      }
    }
  }
}